body {
	margin: 0;
	padding: 0;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.main-header {
	background-color: #eeeeee;
}

.main-centre {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-navigation {
	display: flex;
	justify-content: space-between;


	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
}

.main-header-logo {
	width: 160px;
	height: 65px;
}

.site-navigation {
	display: flex;
	
	width: 800px;
	margin: 0;
  	padding: 0;

	list-style: none;
}

.navigation-item {
	margin-right: 25px;
	margin-left: 25px;
}


.cart-item {
	margin-left: auto;
	margin-right: 20px;
}

.site-navigation a {
	color: #000000;
	padding-bottom: 13px;
	border-bottom: 2px solid transparent;
}

.navigation-item-active a {
	border-bottom-color: #fb565a;
}



.site-navigation a:hover,
.site-navigation a:focus {
	color: #fb565a;
}
.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.header-slider b {
	font-size: 55px;
	line-height: 55px;
}

.header-slider p {
	color: #283136;
}

.btn {
	font: inherit;
	font-weight: 500;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #fb565a;
	border: none;
}

.btn:hover,
.btn:focus {
	background-color: #e74246;
}
.btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 0 #c13135;
}

.container1 {
	display: flex;
	justify-content: space-between;
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px 80px 20px;
	border-bottom: 2px solid #eeeeee;
}

.services-item {
	width: 300px;
}


.services-item-presentation {
	margin-right: 60px;
}

.services h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.services p {
	color: #283136;
}

.btn-green {
	background-color: #00ca74;
}
.btn-green:hover,
.btn-green:focus {
	background-color: #00bc6c;
	box-shadow: inset 0 3px 0 0 #009958;
}
.btn-green:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #00aa62;
}

.btn-yellow {
	background-color: #efc84a;
}
.btn-yellow:hover,
.btn-yellow:focus {
	background-color: #eab534;
}
.btn-yellow:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #e5a722;
	box-shadow: inset 0 3px 0 0 #ce961f;
}

.specification-1 b {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.specification-1 strong,
.specification-2 b {
	font-weight: 700;
	text-transform: uppercase;
}

.specification-1 p,
.specification-orders {
	color: #283136;
}

.specification-numerals span {
	line-height: 18px;
	color: #283136;
}

.specification-numerals {
	list-style: none;
}

.specification-numerals b {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
}

.specification-numerals sup{
	font-size: 24px;
	line-height: 10.06px;
	font-weight: 700;
}

.partners-navigation {
	list-style: none;
}

.contacts h4 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.contacts p {
	line-height: 18px;
	color: #666666;
}

/* Вторая страница */

.page-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;

	text-align: center;
}

.filter1,
.filter legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.filter fieldset {
	border: none;
}

.value label {
	color: #283136;
	text-transform: uppercase;
}

.value input {
	font: inherit;
	color: #283136;

	background-color: #eeeeee;
	border: none;
}

.filter ul {
	list-style: none;
	line-height: 20px;
}

.filter label {
	color: #283136;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #000000;
}

.filter-input:disabled + label {
	color: #283136;
	opacity: 0.3;
}

.filter-button {
	font: inherit;

	text-align: center;
	color: #000000;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #eeeeee;
	border: none;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #dfdfdf;
}

.filter-button:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
}


.sorting-list {
	list-style: none;
}

.sorting-list a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	color: rgba(0, 0, 0, 0.3);
}

.sorting-list a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sorting-list a:focus,
.sorting-list a:active {
	color: #000000;
}

.catalog-list {
	list-style: none;
}

.catalog-item {
	border: 1px solid #e5e5e5;
}

.catalog-item:hover {
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.25);
}


.catalog-item .hover {
	background-color: #eeeeee;
}

.catalog-item .name {
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 700;

	color: #000000;
}

.catalog-item p {
	text-align: center;
	line-height: 18px;

	color: #666666;
}


.pagination-list {
	list-style: none;
}

.pagination-list a{
	color: #000000;
	background-color: #eeeeee;
}

.pagination-list a:hover {
	background-color: #dfdfdf;
}

.pagination-list a:focus {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
}

.pagination-list a:active {
	border: 3px solid #dbdbdb;
}

/* Подвал*/

.main-footer b {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
}

.main-footerl span {
	line-height: 22px;
	color: #283136;
}

.social-item {
	list-style: none;
}

.social-button {
  color: #000000;
}

.write-us h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.write-us-form label {
	line-height: 18px;
	font-weight: 700;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"],
.write-us-form textarea {
	font: inherit;
	color: #444444;
	
	border: 2px solid #d7dcde;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
	border-color: #b4b9bb;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
	border-color: #000000;
}